{% extends 'base.html.twig' %}

{% block title %}Top Equipe{% endblock %}

{% block body %}
    <main id="corpTopEquipe" class="row">
        <div id="classement" class="offset-sm-2">
<img src="images/classement.png">
        </div>
    </main>
{% endblock %}
