{% extends 'base.html.twig' %}

{% block title %}Top Equipe{% endblock %}

{% block body %}
    <main id="corpTopEquipe">
        <div id="classement">
<img src="images/classement.png">
        </div>
    </main>
{% endblock %}
