<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('build/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>

{% block body %}
    <body id="bodyConnect">
    <div>
        <main class="row">
            <div class="offset-lg-5	 col-lg-2" id="containerConnect">
                <div  id="divConnect">
                    <img src="images/Logo-2.png">
                </div>
                <h4 id="titreconnect">Le match commence ici !</h4>
            </div>
        </main>
    </div>
    </body>
{% endblock %}
