{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('build/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
<div class="container-fluid">
       <div class="row">
        <div class="offset-sm-2">
    <img src="/images/erreur.png">
            <h1>Ooops page non trouver !!!!</h1>
            <h4>Pour retourner sur le terrain<a href="/deck"><button>Clique ici</button></a></h4>
        </div>
       </div>
</div>
</body>
</html>
{% endblock %}
