{% extends 'base.html.twig' %}

{% block title %} Règles du jeux{% endblock %}

{% block body %}
    <main id="mainRegles">

        <div class="container" id="containerReglesButDuJeux">
            <div class="row">
                <div class="col-md-12">

                    <div id="reglesTitre"> <H1>Bienvenue dans l'equipe GigaFoot !</H1> </div>

                    <p id="butDuJeux">

                    <div id="reglesTitreButDuJeux"><h2>Règles de GigaFoot :</h2></div>


                    <ul>
                        <li>
                            450 joueurs disponibles
                        </li>
                        <li>
                            25 soirées sur lesquelles parier
                        </li>
                        <li>
                            25 semaines intenses
                        </li>
                        <li>
                            7 joueurs par semaine
                        </li>
                        <li>
                            1 vainqueur
                        </li>

                    </ul>



                </div>
            </div>
        </div>

        <div class="container" id="containerReglesCalculeDesPoints">
            <div class="row">
                <div class="col-md-12">

                    <div> <H2>Calcule des points</H2> </div>

                    <p id="reglesCalculeDesPoint">

                    <div id="reglesBonus"> BUTS + ARRÊT + PASSES RÉUSSIE + PASSES DÉCISIVE + POSSESSION + TIRS CADRER</div>

                    <br><br>

                    <div id="reglesEnlever">À enlever</div>

                    <br></br>

                    <div id="reglesMalus">HORS JEU + TIRS NON CADRER + FAUTES + CARTON JAUNES + CARTON ROUGE*<sup>*</sup> + PASSE RATER</div>

                    <br></br>

                    <div><sup>*</sup>Le carton rouge vous enlèvera -2 points.</div>


                    </p>


                </div>
            </div>
        </div>
    </main>
{% endblock %}
