{% extends 'base.html.twig' %}

{% block title %} Règles du jeux{% endblock %}

{% block body %}
    <main>

        <div class="container" id="containerReglesButDuJeux">
            <div class="row">
                <div class="col-md-12">

                    <div> <H1>But du jeux</H1> </div>

                    <p id="butDuJeux">


                        Bienvenue dans l'equipe GigaFoot !

                    <ul>
                        <li>
                            450 joueurs disponibles
                        </li>
                        <li>
                            25 soirées sur lesquelles parier
                        </li>
                        <li>
                            25 semaines intenses
                        </li>
                        <li>
                            7 joueurs par semaine
                        </li>
                        <li>
                            1 vainqueur
                        </li>

                    </ul>


                    <h2>But du jeux de GigaFoot :</h2>

                    Terminer avec le plus de points possible, en pariant sur le pays.


                </div>
            </div>
        </div>

        <div class="container" id="containerReglesCalculeDesPoints">
            <div class="row">
                <div class="col-md-12">

                    <div> <H1>Calcule des points</H1> </div>

                    <p id="reglesCalculeDesPoint">

                        POINTS + ? + PASSES + ? + CONTRES + TIRS RÉUSSIS + ? + ?

                        <br><br>

                        a enlever

                        <br></br>

                        ? + TIRS RATÉS + ? + LANCERS RATÉS
                    </p>


                </div>
            </div>
        </div>
    </main>
{% endblock %}
