{% extends 'base.html.twig' %}

{% block title %} Admin {% endblock %}

{% block body %}
    <main>

        <div class="container" id="containerReglesButDuJeux">
            <div class="row">
                <div class="col-md-12">

                    <div> <H1>Espace d'administation</H1> </div>
                </div>
            </div>
        </div>
    </main>




{% endblock %}