/* --------------------------------------------------Font PT_Sans (Texte) --------------------------------------------------*/
@font-face {
    font-family: 'PT_Sans-Web-Bold';
    src: url(../../public/fonts/PT_Sans/PT_Sans-Web-Bold.ttf)format('truetype');
}

@font-face {
    font-family: 'PT_Sans-Web-BoldItalic';
    src: url(../../public/fonts/PT_Sans/PT_Sans-Web-BoldItalic.ttf)format('truetype');
}

@font-face {
    font-family: 'PT_Sans-Web-Italic';
    src: url(../../public/fonts/PT_Sans/PT_Sans-Web-Italic.ttf)format('truetype');
}

@font-face {
    font-family: 'PT_Sans-Web-Regular';
    src: url(../../public/fonts/PT_Sans/PT_Sans-Web-Regular.ttf)format('truetype');
}

/* --------------------------------------------------Font expressway --------------------------------------------------*/
@font-face {
    font-family: 'expressway';
    src: url(../../public/fonts/expressway/expressway.ttf)format('truetype');
}
/* --------------------------------------------------Font Secour de base --------------------------------------------------*/
/* --------------------------------------------------Times et Georgia --------------------------------------------------*/

/* --------------------------------------------------Font Import (si necessaire) --------------------------------------------------*/
/*@import {url("https://????" rel="stylesheet");
}*/

/* --------------------------------------------------Typo définie pour H1 et H2 --------------------------------------------------*/
h1, h2, h3 {
    font-family: "expressway", Arial, Georgia ;
    /*font-style: italic;
    font-weight: normal;*/
}

/* --------------------------------------------------Typo definie pour P --------------------------------------------------*/
P, article, h4, h5, h6, label, input {
    font-family: "PT_Sans-Web-Regular", Arial, Georgia ;
    /*font-style: italic;
    font-weight: normal;*/
    text-align: justify !important;
}


/* --------------------------------------------------Body --------------------------------------------------*/
html, body{
   /* font-size: 100%;
    background: #ffffff;
    background-color: white !important;
    transition: 0.5s all;*/
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    padding:header-<length> 0 footer-<length> 0;
    margin:0;

}
/* --------------------------------------------------Fin Body --------------------------------------------------*/

/* --------------------------------------------------Page Mention Legale --------------------------------------------------*/
#mainMentionLegale{
    margin-top: 5%;
    margin-bottom: auto;
    padding-bottom: 10%;
    margin-right: 15px;
    margin-left: 15px;
}

.divMentionLegale {
    /*background: none;*/
    -moz-box-shadow: 15px 15px 15px 15px #000000;
    -webkit-box-shadow: 15px 15px 15px 15px #000000;
    box-shadow: 15px 15px 15px 15px #000000;
    width: 100%;
    display: block;
    height: auto;
    outline: none;
    font-size: 0.9em;
    /*color: #111111;*/
    font-weight: 400;
    resize: none;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10px;
    background-color: rgb(255,255,250);
    padding-bottom: auto;

}

#mentionLegaleTitre {

    display: flex;
    justify-content: center !important;

}

#mentionLegale {
    text-align: justify !important;
}


/* --------------------------------------------------Fin Page Mention Legale --------------------------------------------------*/

/* --------------------------------------------------Page Contact --------------------------------------------------*/

#mainContact{
    margin-top: 5%;
    margin-bottom: auto;
    padding-bottom: 10%;
}

#contactNousContacter{
    text-align: center !important;
}

#contactNousTrouver{
    text-align: center !important;
}

#containerContact{
    /*background: none;*/
    -moz-box-shadow: 15px 15px 15px 15px #000000;
    -webkit-box-shadow: 15px 15px 15px 15px #000000;
    box-shadow: 15px 15px 15px 15px #000000;
    width: 100%;
    display: block;
    height: auto;
    outline: none;
    font-size: 0.9em;
    /*color: #111111;*/
    font-weight: 400;
    resize: none;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10px;
    background-color: rgb(255,255,250);
    padding-bottom: auto;
}

#contactMap{
    display: flex;
    justify-content: center !important;
}

#contactFormulaire{
    display: flex;
    justify-content: center !important;
    text-align: center !important;

}

#form_nom{
    margin-left: 5%;
    width: 90%;
}

#form_prenom{
    margin-left: 5%;
    width: 90%;
}
#form_mail{
    margin-left: 5%;
    width: 90%;
}
#form_corp{
    margin-left: 5%;
    width: 90%;
}
#form_envoyer{
    margin-left: 35%;
    width: 30%;
    display: flex;
    justify-content: center;
}


/* --------------------------------------------------Fin Page Contact --------------------------------------------------*/

/* --------------------------------------------------Page Règles --------------------------------------------------*/

#mainRegles {
    margin-top: 5%;
    margin-bottom: auto;
    padding-bottom: 10%;

}

#containerReglesButDuJeux {
    /*background: none;*/
    border: 1.5px solid black;
    box-shadow: 10px 10px 10px 10px #000000;
    width: 100%;
    display: block;
    height: auto;
    outline: none;
    font-size: 0.9em;
    /*color: #111111;*/
    font-weight: 400;
    resize: none;
    padding: 10px 15px 10px 15px;
    padding-bottom: auto;
}
#containerReglesCalculeDesPoints {
    /*background: none;*/
    border: 1.5px solid black;
    box-shadow: 10px 10px 10px 10px #000000;
    width: 100%;
    display: block;
    height: auto;
    outline: none;
    font-size: 0.9em;
    /*color: #111111;*/
    font-weight: 400;
    resize: none;
    padding: 10px 15px 10px 15px;
    margin-bottom: 1em;
    margin-top: 10%;
}
#reglesCalculeDesPoint {
    display: flex;
    justify-content: center !important;
}

#reglesBonus {
    text-align: center !important;

}

#reglesEnlever {
    text-align: center !important;

}

#reglesMalus {
    text-align: center !important;

}

#reglesTitre {
    text-align: center !important;
}

#reglesTitreButDuJeux {

}

/* -------------------------------------------------- Fin Page Règles -------------------------------------------------- */

/* -------------------------------------------------- Page Connection --------------------------------------------------*/

#bodyConnect {
    background-image: url("../../public/images/fondconnexion.jpg");
    background-color: black;
    background-size: 100%;
    color : white;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
}
#titreConnect {
    text-align: center;
}
#formConnect {
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.inputConnect {
    margin-top: 3%;
}


#rappelConnect {
    text-align: left;
}
#divConnect {
    display: flex;
    justify-content: center;
}
#containerConnect {
    margin-top: 15%;

}
#form_Connexion{
    width: 100% !important;
    margin-top: 5%;
}
#MotDePassePerdu{

    width: 100% !important;
    margin-top: 5%;
}
#Inscription{

    width: 100% !important;
    margin-top: 5%;
}
#bouttonInscription{
    width: 100% !important;
    text-align: center !important;
}
#bouttonMotDePassePerdu{
    width: 100% !important;
    color: white;
    text-align: center !important;
}
#form_use_pseudo{
    width: 100% !important;
}
#form_use_password{
    width: 100% !important;
}

/* --------------------------------------------------Fin page connection --------------------------------------------------*/

/* -------------------------------------------------- Page Inscription --------------------------------------------------*/

#bodyInscription{
    background-image: url("../../public/images/fondconnexion.jpg");
    background-color: black;
    background-size: 100%;
    color : white;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
}
#titreInscription {
    text-align: center;
}
#inscriptionFormulaire{
    width: 100% !important;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
#rappelConnect {
    text-align: left;
}
#divInscription {
    display: flex;
    justify-content: center;
}
#containerInscription {
    /*border-style: solid;*/
    /*border-color: red;*/
    margin-top: 15%;
}
#form_envoyer{
    width: 100%;
    margin-top: 5%;
    margin-left: 0%;
}
#annuler{
    width: 100% !important;
    margin-top: 5%;
}
#boutonAnnuler{
    width: 100% !important;
    color: white;
    text-align: center !important;
}
#form_use_firstname{
    width: 100%;
}
#form_use_lastname{
    width: 100%;
}
#form_use_password_first{
    width: 100%;
}
#form_use_password_second{
    width: 100%;
}
#form_use_mail_first{
    width: 100%;
}
#form_use_mail_second{
    width: 100%;
}
/* --------------------------------------------------Fin page Inscription --------------------------------------------------*/

/* --------------------------------------------------Page MdpPerdu --------------------------------------------------*/

#containerMdpPerdu{
    /*-moz-box-shadow: 15px 15px 15px 15px #000000;
    -webkit-box-shadow: 15px 15px 15px 15px #000000;*/
    /*border-style: solid;*/
    /*border-color: red;*/
    margin-top: 15%;

}
#bodyMdpPerdu{
    background-image: url("../../public/images/fondconnexion.jpg");
    background-color: black;
    background-size: 100%;
    color : white;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
}
#divMdpPerdu{
    display:flex;
    justify-content: center;

}
#mdpPerduTitre{
    text-align: center;
}

#mdpPerduFormulaire{
    display: flex;
    justify-content: center !important;
}
#mdp_oublier_envoyer{
    width: 100%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: #28a745;
    border-color: #28a745;
    border-style: solid 1px;
    border-radius: 0.25em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;


}
#mdp_oublier_email{
    width: 100%;
}
label{
    width: 100%;
}

/* --------------------------------------------------Fin Page MdpPerdu --------------------------------------------------*/

/* --------------------------------------------------Page Accueil --------------------------------------------------*/

#mainAccueil {
    /*height: auto !important;*/
    /*padding-bottom: auto !important;*/
    color: white;
    border-radius: 10px;

    background-color: rgba(45,45,45,0.4);
    margin-top: 12%;
    margin-bottom: auto;
    padding-bottom: 3%;



}
#bouttonAccueil
{
    border-radius: 40px;
}
#bodyAccueil {
    background-image: url("../../public/images/fondconnexion.jpg");
    background-repeat: no-repeat;
    /*background-color: rgb(43, 97, 96);*/
    /*height: auto !important;*/
}

#divAccueilRow{
    /*height: 100% !important;*/
}

#articleAccueil{
    width: 100%;
    justify-content: center !important;
    text-align: center !important;
}

#imgAccueil{
    margin-bottom: 3%;
}

/* --------------------------------------------------Fin page Accueil --------------------------------------------------*/

/* --------------------------------------------------Page erreur --------------------------------------------------*/

#img404{

width: 100%;


}
#imgErreur{
    width: 100%;
}

#containerErreur{
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    padding-top: 10%;
}

/* --------------------------------------------------Fin page erreur --------------------------------------------------*/

/* --------------------------------------------------Page erreur --------------------------------------------------*/

#mainClassement{

    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 5%;
    padding-right: 15%;
}

/* --------------------------------------------------Fin page erreur --------------------------------------------------*/

/*-------------------------------------------------- Page header--------------------------------------------------*/

header{
    background-image: url("../../public/images/fond.jpg");


}

#menu{
    background-image: url("../../public/images/fond.jpg");
}

.nav-link{
    color : white !important;
}

.dropdown{
    list-style: none;
    padding-left: 60px;
}

#intmenu{
    display: flex;
    justify-content: space-around;
}

/* --------------------------------------------------Fin Page header --------------------------------------------------*/

/* --------------------------------------------------Page Footer--------------------------------------------------*/

#footer{
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 20px;
    list-style: none;
    width: 100%;
}

footer{
    background-image: url("../../public/images/fond.jpg");
    height: 69px;
    width: 100%;
    bottom: 0;

}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

/*-------------------------------------------------FIn du Footer--------------------------------------------------*/

/* --------------------------------------------------Debut deck--------------------------------------------------*/

.corpMatch
{
    background-image: url("../../public/images/foot1.jpg");
    width: 400px;
    height: 270px;
    border: 3px solid black;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#premier
{
    text-align: center;
}

#mainDeck{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}


/*--------------------------------------------------Fin deck--------------------------------------------------*/


