{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="bodyAccueil">
        <main id="mainAccueil" class="container">
            <div class="row">
                <div class="offset-lg-5 col-lg-2">
                    <img src="img/logoblanc.png">
                </div>
                <div>
                    <article>
                        <h2>Qu'est que GigaFoot</h2>
                        <p>
                            GigaFoot est un site qui vous permet de suivre la coupe du monde en vous amusants !
                        </p>
                    </article>
                    <article>
                        <h2>Le Principe</h2>
                        <ul>
                            <li>32 équipes disponibles</li>
                            <li>25 soirées sur lesquelles parier</li>
                            <li>25 semaines intenses</li>
                            <li>7 équipes par semaine</li>
                            <li>1 vainqueur</li>
                        </ul>
                    </article>
                </div>
                <div>
                    <input type="button" name="bouttonAccueil" class="btn btn-success" id="bouttonAccueil" value="Connection / Inscription">
                </div>
            </div>
        </main>
    </div>
{% endblock %}
