<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('build/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>



{% block body %}
    <div id="bodyAccueil">
        <main id="mainAccueil" class="container">
            <div class="row">
                <div class="offset-lg-5 col-lg-2">
                    <img src="images/logoblanc.png">
                </div>
                <div>
                    <article>
                        <h2>Qu'est que GigaFoot</h2>
                        <p>
                            GigaFoot est un site qui vous permet de suivre la coupe du monde en vous amusants !
                        </p>
                    </article>
                    <article>
                        <h2>Le Principe</h2>
                        <ul>
                            <li>32 équipes disponibles</li>
                            <li>25 soirées sur lesquelles parier</li>
                            <li>25 semaines intenses</li>
                            <li>7 équipes par semaine</li>
                            <li>1 vainqueur</li>
                        </ul>
                    </article>
                </div>
                <div>
                   <a href="/connexion"><input  type="button" name="bouttonAccueil" class="btn btn-success" id="bouttonAccueil" value="Connexion / Inscription" ></a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
