{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <main>
        <div id="containerAccordion">
    <div id="accordion" class="offset-sm-3">
        <h3>Jour 1</h3>
        <div class="journee">
            <table>
                <tr>
                    <td>Russie</td>
                    <td><img src="images/drapeau/rond/russie.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/arabieSaoudite.png"></td>
                    <td>Arabie Saoudite</td>
                </tr>
            </table>
        </div>
        <h3>Jour 2</h3>
        <div class="journee">
            <table>
                <tr>
                    <td>Egypte</td>
                    <td><img src="images/drapeau/rond/egypte.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/uruguay.png"></td>
                    <td>Uruguay</td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <h3>Jour 3</h3>
        <div class="journee">
            <table>
                <tr>
                    <td></td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td>VS</td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Egypte</td>
                    <td><img src="images/drapeau/rond/egypte.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/uruguay.png"></td>
                    <td>Uruguay</td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <h3>Jour 4</h3>
        <div class="journee">
            <table>
                <tr>
                    <td></td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td>VS</td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <h3>Jour 5</h3>
        <div class="journee">
            <table>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td>VS</td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <h3>Jour 6</h3>
        <div class="journee">
            <table>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td>VS</td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <h3>Jour 7</h3>
        <div class="journee">
            <table>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td>VS</td>
                    <td><img src="images/drapeau/rond/.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td>VS</td>
                    <td><td><img src="images/drapeau/rond/.png"></td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
        </div>
    </main>
{% endblock %}
