{% extends 'base.html.twig' %}

{% block title %}Deck{% endblock %}

{% block body %}

    <main id="mainDeck" class="row">
        <article>
            <div class="stade">
                <h2 class="lieu">Stade de Nijni Novgorod</h2>
            <div id="widget_d4acdf47809f9e29ae4d96ee94a17c93" class="api">
                <span id="t_d4acdf47809f9e29ae4d96ee94a17c93">Météo Nijni Novgorod</span>
                <span id="l_d4acdf47809f9e29ae4d96ee94a17c93"><a href="http://www.mymeteo.info/r/nijni-novgorod_b">Nijni Novgorod d&eacute;tail heure par heure</a></span>
                <script type="text/javascript">
                    (function() {
                        var my = document.createElement("script"); my.type = "text/javascript"; my.async = true;
                        my.src = "https://services.my-meteo.com/widget/js?ville=437&format=petit-horizontal&nb_jours=3&icones&vent&c1=393939&c2=a9a9a9&c3=e6e6e6&c4=d3d9df&c5=00d2ff&c6=d21515&police=0&t_icones=1&x=422&y=55.60000228881836&d=0&id=d4acdf47809f9e29ae4d96ee94a17c93";
                        var z = document.getElementsByTagName("script")[0]; z.parentNode.insertBefore(my, z);
                    })();
                </script>
            </div>
            <div class="corpMatch">
                <figcaption><img src="images/drapeau/rond/uruguay.png"></figcaption>
                <div id="premier">
                    <p> <button class="buttonDeck" id="buttonDeck1">Uruguay</button>  VS <button class="buttonDeck" id="buttonDeck2">France</button></p>
                </div>
                <figcaption><img src="images/drapeau/rond/france.png"></figcaption>
                <div id="result" class="resultat"></div>
            </div>
            </div>
            <script type="text/javascript">
                document.getElementById("buttonDeck1").onclick = function(){document.getElementById("result").innerHTML="<img src='images/drapeau/carre/uruguay.png'>"};
                document.getElementById("buttonDeck2").onclick = function(){document.getElementById("result").innerHTML="<img src='images/drapeau/carre/france.png'>"};
            </script>
            <div class="stade">
                <h2 class="lieu">Kazan Arena</h2>
            <div id="widget_6499da482f6175adce13098b51efc011" class="api">
                <span id="t_6499da482f6175adce13098b51efc011">Météo Kazan</span>
                <span id="l_6499da482f6175adce13098b51efc011"><a href="http://www.mymeteo.info/r/kazan_c">Pr&eacute;visions Kazan</a></span>
                <script type="text/javascript">
                    (function() {
                        var my = document.createElement("script"); my.type = "text/javascript"; my.async = true;
                        my.src = "https://services.my-meteo.com/widget/js?ville=441&format=petit-horizontal&nb_jours=3&icones&vent&c1=393939&c2=a9a9a9&c3=e6e6e6&c4=d3d9df&c5=00d2ff&c6=d21515&police=0&t_icones=1&x=422&y=55.60000228881836&d=0&id=6499da482f6175adce13098b51efc011";
                        var z = document.getElementsByTagName("script")[0]; z.parentNode.insertBefore(my, z);
                    })();
                </script>
            </div>
            <div class="corpMatch">
                <figcaption><img src="images/drapeau/rond/bresil.png"></figcaption>
             <div id="premier">
                 <p> <button class="buttonDeck" id="buttonDeck3">Brésil</button> VS <button class="buttonDeck" id="buttonDeck4">Belgique</button></p>
                </div>
                <figcaption><img src="images/drapeau/rond/belgique.png"></figcaption>
                <div id="result1" class="resultat"></div>
            </div>
            </div>
            <script type="text/javascript">
                document.getElementById("buttonDeck3").onclick = function(){document.getElementById("result1").innerHTML="<img src='images/drapeau/carre/bresil.png'>"};
                document.getElementById("buttonDeck4").onclick = function(){document.getElementById("result1").innerHTML="<img src='images/drapeau/carre/belgique.png'>"};
            </script>
        </article>
        <article>
            <div class="stade">
                <h2 class="lieu">Stade Ficht</h2>
            <!-- widget meteo -->
            <div id="widget_e9eb44ad78e61cea561a5e2322bf0008" class="api">
                <span id="t_e9eb44ad78e61cea561a5e2322bf0008">Météo Saratov</span>
                <span id="l_e9eb44ad78e61cea561a5e2322bf0008"><a href="http://www.mymeteo.info/r/saratov_b">Pr&eacute;visions Saratov</a></span>
                <script type="text/javascript">
                    (function() {
                        var my = document.createElement("script"); my.type = "text/javascript"; my.async = true;
                        my.src = "https://services.my-meteo.com/widget/js?ville=448&format=petit-horizontal&nb_jours=3&icones&vent&c1=393939&c2=a9a9a9&c3=e6e6e6&c4=d3d9df&c5=00d2ff&c6=d21515&police=0&t_icones=1&x=422&y=55.60000228881836&d=0&id=e9eb44ad78e61cea561a5e2322bf0008";
                        var z = document.getElementsByTagName("script")[0]; z.parentNode.insertBefore(my, z);
                    })();
                </script>
            </div>
            <!-- widget meteo -->
            <div class="corpMatch">
                <figcaption><img src="images/drapeau/rond/russie.png"></figcaption>
                <div id="premier">
                    <p><button class="buttonDeck" id="buttonDeck5">Russie</button> VS <button class="buttonDeck" id="buttonDeck6">Croatie</button></p>
                </div>
                <figcaption><img src="images/drapeau/rond/croatie.png"></figcaption>
                <div id="result2" class="resultat"></div>
            </div>
                </div>
            <script type="text/javascript">
                document.getElementById("buttonDeck5").onclick = function(){document.getElementById("result2").innerHTML="<img src='images/drapeau/carre/russie.png'>"};
                document.getElementById("buttonDeck6").onclick = function(){document.getElementById("result2").innerHTML="<img src='images/drapeau/carre/croatie.png'>"};
            </script>
             <div class="stade">
                 <h2 class="lieu">Samara Arena</h2>
            <!-- widget meteo -->
            <div id="widget_46d56b4526b0553d3dcc08e7bb589940" class="api">
                <span id="t_46d56b4526b0553d3dcc08e7bb589940">Météo Samara</span>
                <span id="l_46d56b4526b0553d3dcc08e7bb589940"><a href="http://www.mymeteo.info/r/samara_b">Pr&eacute;visions Samara</a></span>
                <script type="text/javascript">
                    (function() {
                        var my = document.createElement("script"); my.type = "text/javascript"; my.async = true;
                        my.src = "https://services.my-meteo.com/widget/js?ville=439&format=petit-horizontal&nb_jours=3&icones&vent&c1=393939&c2=a9a9a9&c3=e6e6e6&c4=d3d9df&c5=00d2ff&c6=d21515&police=0&t_icones=1&x=422&y=55.60000228881836&d=0&id=46d56b4526b0553d3dcc08e7bb589940";
                        var z = document.getElementsByTagName("script")[0]; z.parentNode.insertBefore(my, z);
                    })();
                </script>
            </div>
            <!-- widget meteo -->
            <div class="corpMatch">
                <figcaption><img src="images/drapeau/rond/suede.png"></figcaption>
                <div id="premier">
                    <p> <button class="buttonDeck" id="buttonDeck7">Suède</button> VS <button class="buttonDeck" id="buttonDeck8">Angleterre</button> </p>
                </div>
                <figcaption><img src="images/drapeau/rond/angleterre.png"></figcaption>
                <div id="result3" class="resultat"></div>
            </div>

             </div>
            <script type="text/javascript">
                document.getElementById("buttonDeck7").onclick = function(){document.getElementById("result3").innerHTML="<img class='choix' src='images/drapeau/carre/suede.png'>"};
                document.getElementById("buttonDeck8").onclick = function(){document.getElementById("result3").innerHTML="<img src='images/drapeau/carre/angleterre.png'>"};
            </script>
        </article>
    </main>


{% endblock %}
