{% extends 'base.html.twig' %}

{% block title %}Deck{% endblock %}

{% block body %}
    <main id="mainDeck" class="row">
        <article>
            <div class="corpMatch">
                <figcaption><img src="images/drapeau/rond/france.png"></figcaption>
                <div>
                    <h3>France</h3>
                    <h3>VS</h3>
                    <h3>Argentine</h3>
                </div>
                <figcaption><img src="images/drapeau/rond/argentine.png"></figcaption>
            </div>
            <div class="corpMatch">
                <figcaption><img src="images/drapeau/rond/uruguay.png"></figcaption>
                <div id="premier">
                    <h3>Uruguay</h3>
                    <h3>VS</h3>
                    <h3>Portugal</h3>
                </div>
                <figcaption><img src="images/drapeau/rond/portugal.png"></figcaption>
            </div>
        </article>
        <article>
            <div class="corpMatch">
                <figcaption><img src="images/drapeau/rond/bresil.png"></figcaption>
                <div id="premier">
                    <h3>Brésil</h3>
                    <h3>VS</h3>
                    <h3>Mexique</h3>
                </div>
                <figcaption><img src="images/drapeau/rond/mexique.png"></figcaption></div>
            <div class="corpMatch">
                <figcaption><img src="images/drapeau/rond/belgique.png"></figcaption>
                <div id="premier">
                    <h3>Belgique</h3>
                    <h3>VS</h3>
                    <h3>Japon</h3>
                </div>
                <figcaption><img src="images/drapeau/rond/japon.png"></figcaption>
            </div>
        </article>
    </main>


{% endblock %}
