{% extends 'base.html.twig' %}

{% block title %}Statistiques des matchs{% endblock %}

{% block body %}

    <div>
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        {{ form_end(our_form) }}
    </div>


{% endblock %}
