{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}
    <body id="bodyClassement">
    <main id="mainClassement">
        <div class="row">
            <div class="col-lg-12">
                <div style="text-align:center"> <h1> Bienvenue sur le classement des joueurs</h1></div>
                <table class="table" id="tableClassement">

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Scores</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>the Bird</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>the Bird</td>

                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Larry</td>
                        <td>the Bird</td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Larry</td>
                        <td>the Bird</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </main>
    </body>

{% endblock %}
