{% extends 'base.html.twig' %}

{% block title %}Mention Legale{% endblock %}

{% block body %}
    <main id="mainMentionLegale">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div id="mentionLegaleTitre"> <H1>Mention Legale</H1> </div>

                    <p id="mentionLegale">

                        Droits d’auteur – Copyright – Droits de propriété intellectuelle :

                        L’ensemble de ce site Internet relève de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. La reproduction de tout ou partie de ce site sur un support électronique quel qu’il soit est formellement interdite sauf autorisation expresse du Directeur de la publication.

                        Conformément aux dispositions du Code de la propriété intellectuelle et des traités et accords internationaux, toute reproduction, divulgation, distribution, représentation, traduction, diffusion, modification, transcription, partielle ou totale, quel que soit le support considéré et quel que soit le procédé utilisé est interdite sans l’autorisation.


                    <h2>Données personnelles :</h2>

                    Les données personnelles collectées par le site GigaFoot sont uniquement destinées à un usage interne. En aucun cas ces données ne seront cédées ou vendues à des tiers. Seuls les commentaires enregistrés sur ce site donnent lieu à un enregistrement des informations de connexion (adresse IP, pseudonyme et éventuellement adresse e-mail et site web).

                    Conformément à l’article 39 de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous avez un droit d’accès, de modification et d’opposition sur vos données personnelles enregistrées par le site.


                    <h2>Les cookies :</h2>

                    Les cookies sont des dispositifs techniques utilisés dans le cadre de la création de sites web et sont à la base, tout à fait inoffensifs.

                    GigaFoot utilise des cookies pour enregistrer vos informations de connexions quand vous vous connectez pour participer aux commentaires ou au forum. Ces cookies sont inoffensifs Vous pouvez les effacer à votre convenance.

                    Si vous voulez contrôler les cookies et éléments de tracking utilisés par les affichages publicitaires lors de vos visites, trois solutions s’offrent à vous :

                    Utilisez un dispositif tiers qui permet de ne pas être tracé (Do Not Track)
                    Surfez sur vos sites en navigation privée
                    Supprimer au cas par cas les cookies de votre navigateur

                    </p>


                </div>
            </div>
        </div>
    </main>
{% endblock %}